{
  "apps/web/*.{js,json,html,css,prettierrc,lintstagedrc}": "npm run -w apps/web format",
  "apps/web/*": "npm run -w apps/web lint",
  "apps/server/*.{js,json,html,css,prettierrc,lintstagedrc}": "npm run -w apps/server format",
  "apps/server/*": "npm run -w apps/server lint"
}